[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
gym = "*"
webdriver-manager = "*"
numpy = "*"
stable-baselines = "*"
tqdm = "*"
opencv-python = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
