[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
numpy = "*"
stable-baselines = "*"
tqdm = "*"
opencv-python = "*"
imageio = "*"
black = "==21.6b0"
gym = "0.15.7"
tensorflow = "==1.15"

[dev-packages]

[requires]
python_version = "3.7.1"
